---
layout: home
title: 猫头的博客
motto: 有一种东西叫做梦想
---


<ul class="entries">
    {% for post in paginator.posts %}
    hello</br>
    {% if post.category == 'Blog' %}
    <li class="entry_item">
    <div class="date">
        <span class="month">
            {{ post.date | date: "%m"  }}
        </span>
        <span class="day">
            {{ post.date | date: "%d" }}
        </span>
    </div>
    <div class="post_item">
        {% if post.image %}
        <div class="post_img">
            <img src="{{ post.image }}" />
        </div>
        {% endif %}
        <div class="post_content">
            {{ post.content | split:'<!--more-->' | first }} 
        </div>
        <div class="link clearfix">
            <a href="{{ post.url }}">全文链接</a>
        </div>

    </div>
    </li>
    <div class="clear"></div>
    {% endif %}
    {% endfor %}
</ul>
<div class="clear"></div>
<ul class="pager">
    <li class="previous">
    {% if paginator.previous_page == 1 %}
        <a href="/" class="">&larr; Older</a>
    {% else if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="">&larr; Older</a>
    {% else %}
        <a href="#" class="disabled">&larr; Older</a>
    {% endif %}
    </li>
    <li class="next"><a href="#">Newer &rarr;</a></li>
</ul>

