<!DOCTYPE html>
<html>

    <head>
        <meta charset=utf-8 />
        <title>
            {% if page.title %} {{ page.title }} | {% endif %} 
        </title>
        <link rel="stylesheet" href="/assets/css/default.css" />
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/home.css" />
    </head>

    <body>
        <div id="container main">
            <header>
            <div class="info">
                <div class="logo">
                    <img class="portrait img-circle" src="/assets/images/portrait.jpg" /> 
                </div>
                <h1><a href="">{{ page.title }}</a></h1>
                <div class="motto">{{ page.motto }}</div>
            </div>
            <div class="input-group input-group-sm header_search">
                <input type="text" class="form-control">
                <span class="input-group-addon text">搜索</span>
            </div>
            </header>
            <nav>
            <ul class="nav nav-pills  nav-justified">

                <li  class="active"><a href="" >Blog</a></li>
                <li><a href="">Opinion</a></li>
                <li><a href="">Accumulation</a></li>
            </ul>
            </nav>
            <article>
            {{ content }}
            </article>
            <footer>
            <p>
            @copy; dengbiao 2011 | All Rights Reserved.
            </p>
            </footer>
        </div>
    </body>

</html>
